* {
    magin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    min-height:100vh;
    background: #eee;
    display: flex;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
}

.container .form {
    width: 140%;
    height: 100%;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.3);
}

.container .form h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #222;
}

.container .form .form-control {
    width: 19rem;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}
#id_set{
    width: 100%;
}

.container .form .btn {
    margin-top: 2px;
    margin-left: 50%;
    transform: translatex(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: #27a327;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}

/*training html*/
.container_video {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    width: 50rem;
    height: 40rem;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.3);

}

.container_video .item-1{
    font-weight: bold;
    font-size: 20px;
    /*background: #27a327;*/
    height:30px;
    text-align: end;
    padding-right: 1rem;
    border-bottom: #b7a8a8 dashed;
    padding-bottom: 2rem;

}

.container_video .item-2{
    font-weight: bold;
    font-size: 20px;
    /*background: #27a327;*/
    flex: 1;
    text-align: center;
    border-bottom: #b7a8a8 dashed;
    padding-top: 1rem;
}

.container_video .btn{
    margin-top: 0.2rem;
    align-self: flex-end;
    padding-top: 0.3rem;
}
/*.container_video .btn .btn1 {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    width: 120px;*/
/*    height: 34px;*/
/*    background-color: #27a327;*/
/*    padding-top: 0.2rem;*/
/*    border-radius: 4px;*/


/*}*/

/*.container_video .btn .btn2 {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    width: 120px;*/
/*    height: 34px;*/
/*    background-color: darkgoldenrod;*/
/*    padding-top: 0.2rem;*/
/*    border-radius: 4px;*/

/*}*/

body > div > div.btn a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

/*body > div > div.btn > span{*/

/*    width: 120px;*/
/*    height: 34px;*/
/*    !*border: none;*!*/
/*    !*outline: none;*!*/
/*    background: #27a327;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*    transition: .3s;;*/

/*}*/

